<div class="input-append" focused>
    <input type="text" class="input-mini" type="text" ng-model="number" float ng-disabled="disabled" focused>
    <span class="btn-group" ng-show="spinner">
        <button class="btn" type="button" ng-click="increment()" ng-disabled="disabled">
            <i class="icon icon-chevron-up"></i>
        </button>
       <button class="btn" type="button" ng-click="decrement()" ng-disabled="disabled">
           <i class="icon icon-chevron-down"></i>
       </button>
    </span>
</div>